@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	box-sizing: border-box;
        webkit-box-sizing: border-box;
}

body {
	width:100%;
	margin:0 auto;
        font-family: "Montserrat", sans-serif;
	font-weight:400;
	letter-spacing:2px;
        font-size:19px;
        line-height:1.6em;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	color:#fff;
	padding:0;
	text-decoration:none;
	background-color:#532ba8;
}

a {
	text-decoration:none;
        color:#fff;
	font-weight:400;
	letter-spacing:2px;
}

.clearfix {
	clear:both;
}

nav header aside section aside {
	display:block;
}

section {
	width:100%;
	margin: 0 auto;
	padding:0;
}


/* ************** MAIN NAV ********************/

#main_nav {
	display:none;
	width:100%;
	height: 100px;
        padding: 25px;
	margin:0 auto;
        text-align:center;
	position:fixed;
        z-index: 5000;
}

.main_nav {
     background-color:#532ba8;
    transition: background-color 1000ms linear !important;
    -webkit-transition: background-color 1000ms linear !important;
    -moz-transition: background-color 1000ms linear !important;
    -o-transition: background-color 1000ms linear !important;
    -ms-transition: background-color 1000ms linear !important;
}

#main_nav ul { 
    padding:10px;
    text-align:center;
    margin:0 auto;
    position: relative;
    display: inline-block;
}

#main_nav ul li {
	list-style:none;
	display:inline-block;
	float:left;
	margin:0 5px;
	font-weight:400;
	letter-spacing:1px;
}

nav ul li a {
	text-decoration:none;
	color:#fff;
	padding:15px;
}

#menu-button {
	display:none;	
}


/* ************** a:hover underline transition ********************/

.underline {
  position: relative;
  color: #ffffff;
}

.underline:after {
  display: block;
  position: absolute;
  left: 7px;
  bottom: 7px;
  width: 0;
  height: 2px;
  background: #7bc9ad;
  content: "";
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.underline:hover {
  color: #7bc9ad;
}

.underline:focus{
  color: #7bc9ad;
}

.underline:hover:after {
  width: 85%;
}


/* ************** HEADER ********************/
	
#header {
   width:100%;
   height:600px;
   height:100vh;
   background: #532ba8;
   overflow-x: hidden;
   text-align:center;
   z-index:0;
   top:0;
   position: sticky;
}


#header #logo {
	position:relative;
	top:30%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
}

#subtitle-wrapper {
	width: fit-content;
	display: inline;
	margin: 0 auto;
}

#header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 6.25rem;
    font-weight:600;
    letter-spacing: -1px;
    line-height: 50px;
    text-transform: uppercase;
    margin-top: 7px;
}

#header h3 {
    font-family: 'Playfair Display', serif;
    color: #7bc9ad;
    font-style: normal;
    font-size: 5.8rem;
    font-weight: 600;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    margin-top: 70px;
    text-align: left;
}

@media only screen and (max-width: 650px) {
#header #logo {
    top: 30%;
}
	
#header h1 {
	font-size: 5rem;
}

#header h3 {
	font-size: 4.7rem;
	margin-top: 50px;
  }

}

@media only screen and (max-width: 550px) {
#header h1 {
  font-size: 3.3rem;
  margin-bottom: 1px;
}

#header h3 {
 font-size: 2.9rem;
 margin-top: 20px;

   }
}

@media only screen and (max-width: 450px) {
#header h1 {
  font-size: 3rem;
  margin-bottom: 1px;
}

#header h3 {
 font-size: 2.5rem;
 margin-top: 10px;

   }
}

@media only screen and (max-width: 350px) {
	#header h1 {
  font-size: 2.7rem;
  margin-bottom: 1px;
}

#header h3 {
 font-size: 2.2rem;
  margin-top:10px

   }
}


/* ************** PORTFOLIO ********************/

#portfolio_sec {
    background-color:#7bc9ad;
    color:#ffffff;
    padding-top:150px;
    width:100%;
    margin: 0 auto;
    z-index: 5;
    position: sticky;
}

.gallery_nav {
 position: relative; 
 width: 100%; 
 margin: 0 auto; 
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  text-align:center;
  padding:20px 0 20px 0;
}

.gallery_portfolio { 
   position: relative; 
   width: 100%; 
   margin: 0 auto; 
   -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    text-align:center;
}
 
#filters {
  list-style:none;
  padding:0;
  text-align:center;
  margin:0 auto;
  position: relative;
  display: inline-block;
}

#filters .underline:after {
  background: #ffffff;
}

#filters li {
  float:left;
  display:inline-block;
  padding:15px 10px;		
  text-decoration:none;
  color:#ffffff;
  cursor: pointer;
}

#filters li:hover {
     color: #ffffff;
}
	
#portfoliolist {
  text-align:center;
  width:100%;
  margin:0 auto;
  padding-top:30px;
  padding-bottom:100px;
}

#portfoliolist .portfolio {
  width:300px;
  height:300px;
  margin-bottom:20px;
  margin-left:20px;
  display:inline-block;
  overflow:hidden;
  text-align:center;
  position:relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.portfolio:hover .project-overlay {
  transition: all 0.3s ease-in-out 0s;
  visibility: visible;
  opacity: 1;
}

.project-overlay {
  background: rgba(83, 43, 168, 1);
  border : none/*2px solid #00DFFF*/;
  visibility: hidden;
  position: absolute;
  text-align:left;
  padding:20px;
  color: #ffffff;
  height: 100%;
  width: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  margin:0 auto;
}

.project-overlay > h3 { 
   line-height:30px;
   padding-bottom:10px;
   text-align:left;
   font-weight:400;
   margin:0 auto 0 10px;
   text-transform:uppercase;
}

.project-overlay > p { 
   line-height:20px;
   padding-top:15px;
   width:240px;
   margin:0 0 0 10px;
   font-size:14px;
   text-align:left;
   max-width:270px;
}

.project-overlay hr {
    width : 80%;
    margin:0 auto 0 10px;
    border: solid 1px #fff;
}

.portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    cursor:pointer;
}

.portfolio img {
    max-width:200%;
    position: relative;
    top:-120px;
    left:-120px;
    opacity: .5;
}



/************** ABOUT  *****************/

#about_sec {
    display:none;
    width:100%;
    background-color:#532ba8;
    overflow-x: hidden;
    clear:both;
    margin:0 auto;
    text-align:center;
    padding:150px 10px;
 /**   display: flex; **/
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index:7;
    position: sticky;
}


@media only screen and (max-width: 1300px) {
#about_sec {
    flex-direction: column;
  }
}

.about_div1 { 
    margin:0 auto;
    padding:20px;
    text-align:center;
    flex: 1.5;
}

.about_div1 p {
    line-height:1.7em;
     margin:20px auto;
     text-align:left;
     -moz-hyphens: none;
     -ms-hyphens: none;
     -webkit-hyphens: none;
     hyphens: none;
     max-width:700px;
}

.about_div2 { 
     margin:0 auto;
     text-align:center;
     display: flex;
     align-items: center;
     justify-content: center;
     padding:20px;
     flex: 1;
}

.about_div2 figure {
	mix-blend-mode: lighten;
}

.me {
    overflow: hidden;
    text-align: center;
    border:none;
    width: 80%;
    max-width:531px;
    height: auto;
    mix-blend-mode: lighten;
    /*border:40px solid #340080;
    outline:4px solid #37286f;*/
}

.about_div2 figcaption {
   font-size: 12px;
   font-style: italic;
   margin: -10px auto 0 auto;
   line-height: 1.75em;
   width: 200px;
}

footer {
    width:100%;
    background-color:#532ba8;
    color:#ffffff;
    margin:0 auto;
    display:flex;
    align-content: center;
    justify-content: center;
    padding-top:80px;
    padding-bottom:80px;
    font-size:19px;
    z-index:7;
    position: sticky;
}

footer p {
    display:inline-block; 
    max-width:600px; 
    position:relative; 
    margin-bottom:15px;
}

footer a {
    padding-top:15px;
    padding-bottom:15px;
    color: #ffffff;
}

/**footer a.underline {
    color:#ffffff!important;
}
footer .underline:after {
    background: #ffffff;
} **/

.contact {
	color:#7bc9ad;
	font-family: 'Playfair Display', serif;
	font-size:3rem;
	font-weight:600;
	line-height:3rem;
	text-align: left!important;
	

}


	

/*  #Mobile  for Portfolio-  */
@media only screen and (max-width: 660px) {

#portfoliolist .portfolio {
   width:250px;
   height:250px;
   margin-left:10px;
   margin-bottom:10px;
}

.project-overlay > * { 
   display:none;
  }
}

@media only screen and (max-width: 522px) {

#portfoliolist .portfolio {
   width:230px;
   height:230px;
 }
}

@media only screen and (max-width: 482px) {

#portfoliolist .portfolio {
    width:200px;
    height:200px;
  }
}

@media only screen and (max-width: 422px) {

#portfoliolist .portfolio {
   width:170px;
   height:170px;
   margin-bottom:2px;
}

.portfolio img {
   max-width:200%;
   position: relative;
   top:-60px;
   left:-60px;
  }
}

@media only screen and (max-width: 382px) {

#portfoliolist .portfolio {
   width:150px;
   height:150px;
   margin-bottom:2px;
  }
}

@media only screen and (max-width: 900px) {
#portfoliolist .portfolio:nth-child(even) { margin-left:7px;}
#portfoliolist .portfolio:nth-child(odd) { margin-right:7px; margin-left:0;}
}

@media only screen and (max-width: 1024px) {
	
/************** MOBILE NAV  *****************/	

#margin-top {
   display:none;
}

#main_nav {
   display:none;
}
/************** END MOBILE NAV  *****************/
	

#portfolio_sec {
   padding-top:50px;
}

#portfoliolist .portfolio:nth-child(even) { margin-left:1px;}
#portfoliolist .portfolio:nth-child(odd) { margin-right:1px; margin-left:0;}


#about_sec {
   padding-top:80px;
   padding-bottom:100px;
}
	
 
}



/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
.text-focus-in {
   -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
   animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */

.slide-in-blurred-right {
  -webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


/***** Floating Animation ****/
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    15%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}

