@charset "UTF-8";


* {
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	/*-webkit-box-sizing: border-box;
	box-sizing: border-box; */
}

@import url("https://fonts.googleapis.com/css?family=Quattrocento");

@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
	width:100%;
	margin:0 auto;
        font-family: "Montserrat", sans-serif;
	font-weight:400;
	letter-spacing:2px;
        font-size:19px;
        line-height:1.6em;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	color:#fff;
	padding:0;
	text-decoration:none;
	background-color:#000;
}

a {
	text-decoration:none;
        color:#fff;
	font-weight:400;
	letter-spacing:2px;
}


.clearfix {
	clear:both;
}

nav header aside section aside {
	display:block;
}

section {
	width:100%;
	margin: 0 auto;
	padding:0;
}



/* ************** MAIN NAV ********************/

#main_nav {
	width:100%;
	height:80px;
	padding-top:40px;
	margin:0 auto;
        text-align:center;
	position:fixed;
        z-index: 5000;
}

.main_nav {
     background-color:#532ba8;
    transition: background-color 1000ms linear !important;
    -webkit-transition: background-color 1000ms linear !important;
    -moz-transition: background-color 1000ms linear !important;
    -o-transition: background-color 1000ms linear !important;
    -ms-transition: background-color 1000ms linear !important;
}

#main_nav ul { 
    padding:10px;
	text-align:center;
	margin:0 auto;
	position: relative;
    display: inline-block;
}

#main_nav ul li {
	list-style:none;
	display:inline-block;
	float:left;
	margin:0 5px;
	font-weight:400;
	letter-spacing:1px;
}


nav ul li a {
	text-decoration:none;
	color:#fff;
	padding:15px;
}

#menu-button {
	display:none;	
}


/* ************** a:hover underline transition ********************/

.underline {
  position: relative;
  color: #ffffff;
}

.underline:after {
  display: block;
  position: absolute;
  left: 7px;
  bottom: 7px;
  width: 0;
  height: 2px;
  background: #7bc9ad;
  content: "";
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.underline:hover {
  color: #7bc9ad;
}

.underline:focus{
  color: #7bc9ad;
}

.underline:hover:after {
  width: 85%;
}


/*#margin-top {
	height:120px;
	width:85%;
	margin:0 auto;
	padding:0;
	clear:both;
}*/




/* ************** HEADER ********************/
	
#header {
   width:100%;
   height:600px;
   height:100vh;
   background: #532ba8;

   overflow-x: hidden;
   text-align:center;
   z-index:-1000;
}


#header #logo {
	position:relative;
	top:40%;
	display:block;

}

#header #logo img {
	height:50px;

}

#header h1 {
    font-family:"Quattrocento", serif;
    font-size: 100px;
    font-weight:700;
    letter-spacing: 2px;
    line-height: 50px;
    text-transform: uppercase;
    margin-top: 7px;

}

#header h3 {
	font-family: "Montserrat", sans-serif;
	color:#7bc9ad;
        font-style:normal;
	font-size:32px;
	font-weight:400;
	text-transform:uppercase;
	letter-spacing:7px;
	margin-top:36px;
}

@media only screen and (max-width: 750px) {
#header h1 {
    font-size: 70px;
    line-height: 58px;
    margin-top:0;
    text-shadow: 1px 1px 3px rgba(6, 79, 116, 0.1);
}

#header h3 {
	font-size:20px;
	margin-top:25px;
	font-weight:400;
	text-shadow: 1px 1px 3px rgba(6, 79, 116, 0.1);
}

#header #logo img {
	height:42px;

}
}

@media only screen and (max-width: 600px) {
#header h1 {
    font-size: 65px;
    line-height: 44px;
}

#header h3 {
	font-size:20px;
	font-weight:400;
	margin-top:15px;
	text-shadow: 1px 1px 3px rgba(6, 79, 116, 0.1);
}

#header #logo img {
	height:35px;

}
}

@media only screen and (max-width: 500px) {
#header h1 {
    font-size: 55px;
    line-height: 52px;
	margin-top:15px;
}

#header h3 {
	font-size:20px;
	font-weight:400;
	margin-top:10;
	text-shadow: 1px 1px 3px rgba(6, 79, 116, 0.1);
}

#header #logo img {
	height:38px;

}
}

@media only screen and (max-width: 400px) {
#header h1 {
    font-size: 40px;
   letter-spacing: 2px;
    line-height: 44px;
   margin-top:2px;
}

#header h3 {
	font-size:18px;
	font-weight:400;
	text-shadow: 1px 1px 3px rgba(6, 79, 116, 0.1);
}

#header #logo img {
	height:30px;

}
}






.letterspacing { letter-spacing:1px;}
.letterspacing4 { letter-spacing:5px;}

/* **************HR with H2 in middle ********************/
h2 {
    overflow: hidden;
    text-align: center;
	font-weight:200;
}
h2:before,
h2:after {
    background-color: none;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 0%;
}

h2.portfolio:before,
h2.portfolio:after {
    background-color: #fff;
   
}
h2:before {
    right: 0.9em;
    margin-left: -50%;
}
h2:after {
    left: 0.9em;
    margin-right: -50%;
}


/* ************** PORTFOLIO ********************/

#portfolio_sec {
    background-color:#7bc9ad;
    color:#000000;
	padding-top:150px;
	width:100%;
	margin: 0 auto;
}

.gallery_nav {
	position: relative; 
	width: 100%; 
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
   text-align:center;
   padding:20px 0 20px 0;
}


.gallery_portfolio { 
	position: relative; 
	width: 100%; 
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    text-align:center;
}
 
#filters {
	list-style:none;
	padding:0;
	text-align:center;
	margin:0 auto;
	position: relative;
    display: inline-block;
}

#filters li {
	float:left;
	display:inline-block;
	padding:15px 10px;		
	text-decoration:none;
	color:#fffffff;
	cursor: pointer;
}


#filters li:hover {
     /*color:#00DFFF;*/
    
}
	
#portfoliolist {
     text-align:center;
     width:100%;
	 margin:0 auto;
	 padding-top:30px;
	 padding-bottom:100px;
}

#portfoliolist .portfolio {
    width:300px;
	height:300px;
	margin-bottom:20px;
	margin-left:20px;
    display:inline-block;
	overflow:hidden;
	text-align:center;
	position:relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.portfolio:hover .project-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.project-overlay {
    /*background : rgba(22,146,208,.80);*/
    border : none/*2px solid #00DFFF*/;
	background: rgba(123, 201, 173, .9);
   /*background: rgba(0,0,0,.9);
background: -moz-linear-gradient(45deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.9) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,0,0,.9)), color-stop(100%, rgba(0,0,0,.9)));
background: -webkit-linear-gradient(45deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.9) 100%);
background: -o-linear-gradient(45deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.9) 100%);
background: -ms-linear-gradient(45deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.9) 100%);
background: linear-gradient(45deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );*/
   visibility: hidden;
    position: absolute;
    text-align:center;
    padding:20px;
    color: #ffffff;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
	margin:0 auto;
}

.project-overlay > h3 { 
   line-height:30px;
   padding-bottom:10px;
   text-align:center;
   font-weight:400;
   margin:0 auto 0 -20px;
   text-transform:uppercase;

}

.project-overlay > p { 
   line-height:20px;
   padding-top:15px;
   width:240px;
   margin:0 0 0 10px;

   font-size:14px;
   text-align:center;
   max-width:270px;

}

.project-overlay hr {
    width : 80%;
	margin:0 auto 0 10px;
	border: solid 1px #fff;
}

.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
}

.portfolio img {
	max-width:200%;
	position: relative;
	top:-120px;
	left:-120px;
}



/************** ABOUT  *****************/

#about_sec {
	width:100%;
	background-color:#532ba8;
        overflow-x: hidden;
        clear:both;
	margin:0 auto;
	text-align:center;
	padding:150px 10px;
        display: flex;
       align-items: center;
       justify-content: center;
	flex-direction: row;
	webkit-box-sizing: border-box;
	box-sizing: border-box; 
}


@media only screen and (max-width: 1300px) {
	#about_sec {
		flex-direction: column;
	}
}



.about_div1 { 
	 margin:0 auto;
	 padding:20px;
	 text-align:center;
	 flex: 1.5;
	
}

.about_div1 p {
	 line-height:1.7em;
	/* -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: auto;
        -webkit-margin-end: auto;
	 margin-left:auto;*/
	 margin:20px auto;
	 text-align:left;
	-moz-hyphens: none;
        -ms-hyphens: none;
        -webkit-hyphens: none;
         hyphens: none;
	 max-width:700px;
}

.about_div2 { 
     margin:0 auto;
     text-align:center;
     display: flex;
     align-items: center;
     justify-content: center;
     padding:20px;
     flex: 1;
	
}


.me {
    overflow: hidden;
    text-align: center;
    border:none;
    width: 100%;
    max-width:531px;
    height: auto;
    /*border:40px solid #340080;
    outline:4px solid #37286f;*/
	
	
}


footer {
	width:100%;
	/*background:url(http://s1.postimg.org/3t29dy5mj/image.jpg);*/
    background-color:#ffffff;
    color:#000000;
	margin:0 auto;
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
	font-size:14px;
}

footer p {
	display:inline-block; 
	max-width:600px; 
	position:relative; 
	margin-bottom:15px;
}

footer a {
	padding-top:15px;
	padding-bottom:15px;
    color:#000000;
}

footer a.underline {
    color:#000000 !important;
}



footer img {
	display:inline-block; 
	position:relative; 
	vertical-align: text-bottom;
}

#contact {
	display:none;
	
}
	

/*  #Mobile  for Portfolio-  */
@media only screen and (max-width: 660px) {

#portfoliolist .portfolio {
	width:250px;
	height:250px;
	margin-left:10px;
	margin-bottom:10px;
}

.project-overlay > * { 
     display:none;
}


}

@media only screen and (max-width: 522px) {

#portfoliolist .portfolio {
	width:230px;
	height:230px;
}

}

@media only screen and (max-width: 482px) {

#portfoliolist .portfolio {
	width:200px;
	height:200px;
}
}

@media only screen and (max-width: 422px) {

#portfoliolist .portfolio {
	width:170px;
	height:170px;
	margin-bottom:2px;
}

.portfolio img {
		max-width:200%;
		position: relative;
		top:-60px;
		left:-60px;
}

}

@media only screen and (max-width: 382px) {

#portfoliolist .portfolio {
	width:150px;
	height:150px;
	margin-bottom:2px;
}
}

@media only screen and (max-width: 900px) {
#portfoliolist .portfolio:nth-child(even) { margin-left:7px;}
#portfoliolist .portfolio:nth-child(odd) { margin-right:7px; margin-left:0;}
}

@media only screen and (max-width: 1024px) {
	
/************** MOBILE NAV  *****************/	


#margin-top {
	display:none;
}

	
#main_nav {
	display:none;
}
/*	height:auto;
	margin:0 auto;
	text-align:left;
	padding-top:0;
	top:0;
	left:0;
}
  
#main_nav ul {
    width: 100%;
    display: none;
	margin:0 auto;
	padding:0;
	text-align:center;
 }
 
#main_nav ul li {
    padding-top:15px;
	padding-bottom:15px;
	display:block;
	width:100%;
}

  
#main_nav ul li a {
    width: 100%;
	line-height: 20px;
}


#menu-line {
    display: none;
}

#main_nav #menu-button {
    display:inline-block;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
}
  
#main_nav #menu-button::after {
    content: '';
    position: absolute;
    top: 25px;
    right: 30px;
    display:inline-block;
    width: 25px;
    height: 2px;
    background: #fff;
}

#main_nav #menu-button::before {
    content: '';
    position: absolute;
    top: 30px;
    right: 30px;
    display:inline-block;
    width: 25px;
    height: 3px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
  
#menu-button::before:hover {
	border-top: 2px solid #00DFFF;
    border-bottom: 2px solid #00DFFF;
}
	  
*/
/************** END MOBILE NAV  *****************/
	

#portfolio_sec {
	padding-top:80px;
}

#portfoliolist .portfolio:nth-child(even) { margin-left:1px;}
#portfoliolist .portfolio:nth-child(odd) { margin-right:1px; margin-left:0;}


#about_sec {
    padding-top:80px;
    padding-bottom:50px;
}

	footer span {
	display:none;
}

footer p { 
     display:block;
	 text-align:center;
	 margin-top:0;
	 margin-right:auto;
	 margin-bottom:6px;
	 margin-left:auto;
	 
}

footer img  {
	display:block;
	margin:0 auto;
	margin-bottom:12px;
	
}

#contact {
	display:block;
	width:100%;
	padding-top:15px;
	padding-bottom:30px;
    margin-bottom:40px;
	border-bottom:1px solid #1d242d;
}

#contact h1 {
	margin-bottom:7px;
}

#contact a {
	color: #00DFFF;
	font-weight:bold;
	width:100%;
	text-align:center;
}

footer span {
	display:none;
}

[title~=notmobile] { 
    display:none;
}

footer a {
	
	display:block;
	width:200px;
	margin:0 auto;
	padding-top:5px;
}

}



/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */

.slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

